@tailwind base;
@tailwind components;
@tailwind utilities;  
     
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');  

ul {
    list-style: disc;
}

ol {
    list-style-type: upper-roman;
}

blockquote {
    padding-left: 10px !important
}
blockquote:before {
    margin-left: -10px !important;
} 

.background-special {
    position: relative;
}
.background-special:before {
    content: '';
    position: absolute; 
    bottom: 0;
    width: 100%;  
    height: 100px;
    background: -webkit-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
    );
    background-image: -moz-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
    );
    background-image: -o-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
    );
    background-image: linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
    );
    background-image: -ms-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
    );
    z-index: 99;
}

.prose > *::first-child {
    padding-top: 0 !important;
}

.table tfoot td, .table tfoot th, .table thead td, .table thead th {
    background: #F8F8F8 
}